<div class="container">
  <%= @list.movies.each do |movie| %>
    <div class="card-movie m-3">
      <%= image_tag movie.poster_url %>
      <div class="card-movie-infos">
        <div>
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
        </div>
        <h2 class="card-movie-pricing"><%= movie.rating %></h2>
      </div>
    </div>
  <% end %>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>