<div class="container">

  <h1 class="m-3"><%= @list.name %> Movies</h1>

  <div class="row justify-content-center g-0">
    <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
      <div class="card-movie my-3 col-sm-12 col-md-6">
        <%= image_tag movie.poster_url%>
        <div class="card-movie-hover">
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
          <h3><%= bookmark.comment %></h3>
          <h2 class="card-movie-rating pb-3"><%= movie.rating %>/10</h2>
          <%= link_to 'Delete card <i class="fas fa-trash"></i>'.html_safe,
                      bookmark_path(bookmark),
                      method: :delete,
                      data: { confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list?"},
                      id: "trash" %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <div class="bookmark">
      <%= f.association :movie, prompt: 'Select a movie', collection: Movie.all.order(:title), input_html: { class: 'select2' } %>
      <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
      <%= f.button :submit, "Add Movie", class: 'btn btn-yellow' %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-6">
      <%= simple_form_for [@list, @review] do |f| %>
        <div class="my-3">
          <h2>Review time !</h2>
          <%= f.input :content, label: "What do you think about this list of movies?" %>
          <%= f.input :rating, as: :select, collection: 1..5, required: true, prompt: "What is your rating?", input_html: { id: 'review-rating' } %>
          <%= f.button :submit, "Review!", class: "btn-yellow" %>
        </div>
      <% end %>
    </div>
    <div class="col-6 my-3">
      <h2>Reviews</h2>
      <% @list.reviews.each do |review| %>
        <div class="review">
          <% review.rating.times do %>
            <i class="fas fa-star"></i>
          <% end %>
          <p><%= review.content %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="m-3"><%= link_to 'Back to home page', lists_path %></div>
</div>