<div class="container">

  <h1 class="m-3"><%= @list.name %></h1>

  <div class="row">
    <% @list.movies.each do |movie| %>
      <div class="card-movie m-3">
        <%= image_tag movie.poster_url %>
        <div class="card-movie-infos">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>
          <h2 class="card-movie-rating"><%= movie.rating %></h2>
          <%= @bookmark.comment %>
          <%= link_to 'Delete <i class="fas fa-trash"></i>'.html_safe,
                      list_bookmark_path(list_url),
                      method: :delete,
                      data: { confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit %>
  <% end %>
</div>