<div class="container">

  <h1 class="m-3"><%= @list.name %></h1>

  <div class="row">
    <% @list.movies.each do |movie| %>
      <div class="card-movie m-3">
        <%= image_tag movie.poster_url %>
        <div class="card-movie-overview">
          <h2><%= movie.title %></h2>
          <p><%= movie.overview %></p>
        </div>
        <div class="card-movie-lower">
          <div class="card-movie-comment">
            <%= @bookmark.comment %>
          </div>
          <div>
            <h2 class="card-movie-rating"><%= movie.rating %>/10</h2>
            <%= link_to '<i class="fas fa-trash"></i>'.html_safe,
                        list_bookmark_path(list_url),
                        method: :delete,
                        data: { confirm: "Are you sure?"},
                        id: "trash" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, prompt: 'Select a movie', input_html: { class: 'select2' } %>
    <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
    <%= f.submit class: 'btn btn-flat' %>
  <% end %>
</div>